services:
  directus:
    image: directus/directus:latest
    ports:
      - "8055:8055"

    environment:
      # 2 key này cứ đặt tạm, sau này có thể đổi
      KEY: "my_super_secret_key_123"
      SECRET: "my_super_secret_key_123"

      # Dùng SQLite làm database nội bộ
      DB_CLIENT: "sqlite3"
      DB_FILENAME: "/data/db.sqlite"

      # Tự tạo tài khoản admin ban đầu
      ADMIN_EMAIL: "admin@example.com"
      ADMIN_PASSWORD: "Admin1234"
      ADMIN_FIRST_NAME: "Admin"
      ADMIN_LAST_NAME: "User"
      PUBLIC_URL: "http://localhost:8055"
      PASSWORD_RESET_URL_ALLOW_LIST: "http://localhost:3000,http://localhost:3000/reset-password"

    volumes:
      - ./data:/data

    restart: unless-stopped
